:root {
    --color-main: #0057FF;
    --color-accent: #44C2FD;
    --color-white: #F7F9FC;
    --color-black: #1A202C;
    --color-gray: #718096;
    --font-main: "Montserrat Alternates", sans-serif;
    --font-accent: "Lato", sans-serif;
    --width-max-screen: 1280px;
    /* 688 - 992 - 1312 */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    background-color: var(--color-white);
}

#root {
    min-height: 100vh;
}

body, input, textarea, select, button, a {
    font-family: var(--font-accent);
}