:root {
    --color-main: #0057FF;
    --color-accent: #44C2FD;
    --color-white: #F7F9FC;
    --color-black: #1A202C;
    --font-main: "Montserrat Alternates", sans-serif;
    --font-accent: "Lato", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
}

#root {
    min-height: 100vh;
}

body, input, textarea, select, button {
    font-family: var(--font-accent);
}