#screen-int-profiles-list {
  width: 100%;
  min-height: 100vh;
  padding-top: 1rem;
  position: relative;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .profiles-list-container {
    width: 100%;
    margin-top: .8rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .8rem;

    .profile-item {
      background-color: #fff;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
      padding: 1.6rem;
      border-radius: 1.2rem;
      border-left: .4rem solid var(--color-gray);

      a {
        font-size: 1.2rem;
        line-height: 2rem;
        font-weight: 600;
        color: var(--color-black);
        transition: .3s;

        &:hover {
          color: var(--color-accent);
        }
      }

      .profile-credentials {
        display: flex;
        flex-wrap: wrap;
        margin-top: .8rem;
        gap: .4rem;

        .profile-credential-item {
          height: 100%;
          width: fit-content;
          max-width: 6.4rem;
          padding: .4rem .8rem;
          display: flex;
          align-items: center;
          font-size: .8rem;
          line-height: 1rem;
          font-weight: 600;
          border-radius: .56rem;

          &.telegram {
            background: #0088cc;
            color: #FFF;
          }

          &.discord {
            background: #7289da;
            color: #FFF;
          }

          span {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }

  @media (max-width: 1312px) {
    .profiles-list-container {
      grid-template-columns: repeat(3, 1fr) !important;
    }
  }

  @media (max-width: 992px) {
    .profiles-list-container {
      grid-template-columns: repeat(2, 1fr) !important;
    }
  }

  @media (max-width: 688px) {
    .profiles-list-container {
      grid-template-columns: 1fr !important;
    }

    header {
      flex-direction: column;
      align-items: stretch;

      h1 {
        text-align: center;
      }
    }
  }
}