#screen-register {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    width: 90%;
    max-width: 480px;
    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: 1.6rem;
    border-radius: 1.6rem;

    header {
      width: 100%;
      height: 4.8rem;
      margin-bottom: 3.2rem;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .fields {
      display: flex;
      flex-direction: column;
      gap: .8rem;

      .field-login {
        display: flex;

        .field-group {
          flex: 1;
        }

        & > span {
          cursor: pointer;
          transition: .3s;
          display: flex;
          align-items: center;
          justify-content: end;
          align-self: flex-end;
          height: 4rem;
          width: 2.4rem;

          &:hover {
            color: var(--color-gray);
          }
        }
      }
    }

    footer {
      margin-top: 2.4rem;
      font-size: 1rem;
      line-height: 1.2rem;
      font-weight: 600;
      text-align: center;
      color: var(--color-gray);

      a {
        text-decoration: none;
        color: var(--color-accent);
        transition: .3s;

        &:hover {
          color: var(--color-gray);
        }
      }
    }
  }
}